<div class="px-4">
  <h1 class="series">Series</h1>
  <p>
    Mergulhe em uma infinidade de séries incríveis e envolventes na nossa
    plataforma de streaming. Com uma biblioteca diversificada que inclui desde
    dramas emocionantes a comédias leves, passando por thrillers eletrizantes e
    séries de fantasia épicas, temos algo para todos os gostos. Aproveite
    temporadas completas e episódios lançados recentemente, todos disponíveis na
    ponta dos dedos. Descubra novas histórias, acompanhe seus personagens
    favoritos e desfrute de uma experiência de entretenimento contínua, onde
    quer que você esteja. Prepare-se para maratonar e deixe-se levar por
    narrativas que vão te prender do início ao fim.
  </p>
</div>
