<div class="px-4">
  <h1 class="movie">Movie</h1>
  <p>
    Descubra um vasto universo de filmes na nossa plataforma de streaming. Com
    uma seleção meticulosamente curada, oferecemos desde os grandes sucessos de
    bilheteria até produções independentes e exclusivas, disponíveis
    instantaneamente para você. Explore dramas emocionantes, comédias hilárias,
    aventuras épicas, suspenses eletrizantes e muito mais. Nosso catálogo
    diversificado é projetado para satisfazer todos os gostos e idades,
    proporcionando entretenimento ilimitado para você e sua família. Prepare a
    pipoca e mergulhe em histórias que emocionam, inspiram e entretêm, a
    qualquer hora e em qualquer lugar.
  </p>
</div>
